<div class="center">
  <div class="row">
    <div class="input col-lg-1">
      <h5>Enter Hero Id:</h5>
      <input #hid type="number" id="hid" placeholder="Hero ID" />
      <h5>Enter Hero's Name:</h5>
      <input #hname type="text" id="hname" placeholder="Hero Name" />
      <h5>Enter Hero's Minimum Attack Damage:</h5>
      <input #minvalue type="number" id="minvalue" placeholder="Min Value" />
      <h5>Enter Hero's Max Attack Damage:</h5>
      <input #maxvalue type="number" id="maxvalue" placeholder="Max Value" />
      <h5>Enter Hero's Number of Uses:</h5>
      <input #uses type="number" id="uses" placeholder="Uses" />
    </div>
  </div>
  <div class="button">
    <button class="btn btn-lg btn-outline-success" (click)="clickHero()">
      Add Hero!
    </button>
  </div>
</div>
