<h1>Hero Game</h1>

<div class="characters">
  <h3>SELECT A HERO</h3>

  <select name="heroSelector" id="heroSelector" (change)="Selector()">
    <option *ngFor="let hero of heroList; let i = index" [value]="i">
      {{ hero.hname }}
    </option>
  </select>
  <p
    class="border border-success d-inline-flex p-2"
    *ngIf="heroSelected != null && villainSelected != null"
  >
    MinValue: {{ heroSelected.minvalue }} || MaxValue:
    {{ heroSelected.maxvalue }} || Uses Left: {{ heroSelected.uses }}
  </p>
  <hr />
  <h3>SELECT A VILLAIN</h3>
  <select name="villainSelector" id="villainSelector" (change)="Selector()">
    <option *ngFor="let villain of villainList; let i = index" [value]="i">
      {{ villain.vName }}
    </option>
  </select>
  <p
    class="border border-danger d-inline-flex p-2"
    *ngIf="heroSelected != null && villainSelected != null"
  >
    HitPoints: {{ villainSelected.hitPoints }}
  </p>
</div>
<hr />
<p
  id="game"
  class="game"
  *ngIf="heroSelected != null && villainSelected != null"
>
  {{ heroSelected.hname }} is attacking {{ villainSelected.vName }}
</p>
<p id="log" class="log" *ngIf="heroSelected != null && villainSelected != null">
  {{ heroSelected.hname }} rolled {{ damage }} & attacked
  {{ villainSelected.vName }}
</p>
<div class="button">
  <button
    *ngIf="heroSelected != null && villainSelected != null"
    [disabled]="this.heroSelected.uses <= 0 ? true : null"
    [disabled]="this.villainSelected.hitPoints <= 0 ? true : null"
    id="fight"
    class="fightBtn btn btn-lg btn-dark"
    (click)="Fight()"
  >
    Attack
  </button>
</div>
<!-- <div class="games">
  <p>
    Game wineer <strong>{{ game.WHOWON }}</strong>
  </p>
  <p>
    Time: <strong>{{ game.GAMETIME }}</strong>
  </p>
</div> -->
