.characters,
h1 {
  /* display: flex; */
  text-align: center;
}

h3,
select,
option,
p,
.button,
button {
  text-align: center;
  font-size: 20px;
}

.border {
  display: block;
  font-size: 25px;
}

.log {
  font-size: 30px;
}
