<div class="center">
  <div class="row">
    <div class="input col-lg-1">
      <h5>Enter Villain ID:</h5>
      <input #villainID type="number" id="villainID" placeholder="Villain ID" />
      <h5>Enter Villain's Name:</h5>
      <input #vName type="text" id="vName" placeholder="Villain's Name" />
      <h5>Enter Villain's Health:</h5>
      <input #hitPoints type="number" id="hitPoints" placeholder="hitPoints" />
    </div>
  </div>
  <div class="button">
    <button class="btn btn-lg btn-outline-danger" (click)="clickVillain()">
      Add Villain!
    </button>
  </div>
</div>
